let mapleader = " "

set hlsearch
set incsearch
set ignorecase
set number
set relativenumber
set showmode
set visualbell

"" Idea specific settings ---------
set ideajoin

"" Mapping
nmap <leader>g <action>(Generate)

"" Plugins
set NERDTree