[user]
    name = Julien Gracia
    email = gracia.julien@gmail.com
    username = mothinx
[core]
    editor = nvim

[commit]
	template = /home/mothinx/.gitmessage
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
