[user]
    name = Julien Gracia
    email = gracia.julien@gmail.com
    username = mothinx
[core]
    editor = nvim

[commit]
	template = /home/mothinx/.gitmessage
[init]
	defaultBranch = main
[safe]
	directory = /home/mothinx/code/lazyvim-docker
