alias ll='ls --all'

# Neovim
alias v='NVIM_APPNAME="nvim-perso" nvim'
alias nv='NVIM_APPNAME="lazyvim" nvim'

# Git
alias ga='git add'
alias gd='git diff'
alias gst='git status'
alias gpl='git pull'
alias gpu='git push'

